.amchart-container {
    width: 100%;
    height: 400px;
    color: black !important;
  }
  
  tspan {
    color: black !important;
  }

  tspan > text {
    color: black !important;
  }
  