.myfamily-container {
    height: 100vh;
    max-width: 390px; /* 최대 너비를 390px로 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA; /* 배경색 추가 */
}
.myfamily-footer {
    position: absolute;
    bottom: 0;
}
.family-productbutton,
.family-missionbutton,
.family-deletebutton,
.family-invitation{
    border-radius: 16px; /* 원하는 값으로 조절합니다. */
    border: none;
    color: white;
    width: 56px;
    height: 20px;
    cursor: pointer;
    margin: 5px;
}
.family-productbutton {
    background-color: #AAF1CB; /* 상품 버튼의 배경색 */
}

.family-missionbutton {
    background-color: #C2DEFF; /* 미션 버튼의 배경색 */
}

.family-deletebutton {
    background-color: #FFB4AB;
}
.family-invitation {
    background: rgba(255, 210, 51, 0.48);
}



.myfamily-input {
    border: none; /* 기본 테두리를 제거합니다. */
    border-bottom: 2px solid #ccc; /* 밑줄 스타일을 정의합니다. */
    padding: 5px; /* 내부 여백을 추가합니다. */
    width: 100%; /* 가로 폭을 100%로 설정합니다. */
    height: 50%;
    outline: none; /* 포커스 시 기본 아웃라인을 제거합니다. */
    border-top-left-radius: 5px; /* 위쪽 왼쪽 모서리에 border-radius 적용 */
    border-top-right-radius: 5px; 
    background-color: #FAFAFA; /* 배경색 추가 */
    transition: background-color 0.3s ease-in-out; /* 배경색 전환에 대한 트랜지션 효과 추가 */
  }

  .myfamily-input:focus {
    background-color: #EEECEC; /* 포커스 시 배경색을 짙은 색상으로 변경 */
  }

  .myfamily-invite-button {
    width: 56px;
    height: 21px;
    margin: 5px;
    color: white;
    background-color: #756EF3;
    border-style: none;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.3s ease; /* 변환 애니메이션 추가 */
  }
  .myfamily-invite-button-choose {
    width: 56px;
    height: 21px;
    margin: 5px;
    color: white;
    background-color: #7af0b1;
    border-style: none;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.3s ease; /* 변환 애니메이션 추가 */
  }

  
  .myfamily-invite-button-choose.selected {
    background-color: gray; /* 회색 배경색 */
    color: white; /* 흰색 글자색 (선택 사항) */
    /* 기타 선택된 버튼 스타일 */
  }

  .myfamily-invite-button-close {
    width: 56px;
    height: 21px;
    margin: 5px;
    margin-left: auto;
    color: white;
    background-color: #FFB4AB;
    border-style: none;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.3s ease; /* 변환 애니메이션 추가 */
  }

  .myfamily-invite-button-send {
    width: 100px;
    height: 21px;
    margin: 5px;
    color: white;
    background-color: #84baf8;
    border-style: none;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.3s ease; /* 변환 애니메이션 추가 */
  }

  .myfamily-form-arrange {
    display: flex;
    align-items: center;
  }
  .myfamily-close-arrange-left {
    display: flex;
    justify-content: flex-end; 
    width: 100%;
  }
  


