.product-detail-container {
    height: 100vh;
    max-width: 390px;
    margin: 0 auto; /* 가운데 정렬 */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA; 
    width: 100%;
    position: relative;
}


.product-detail-header {
    width: 100%;
    background: linear-gradient(45deg, #75C5A8, #6BAED6);
}

.product-detail-name {
    padding-top: 25px;
    padding-left: 25px;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
}

.product-apply-button {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬을 위해 추가 */
    align-items: center;
    font-size: 20px;
    border-radius: 16px;
    background: linear-gradient(45deg, #75C5A8, #6BAED6);
    width: 330px;
    height: 50px;
    position: absolute;
    bottom: 10vh;
    cursor: pointer;
    color: white;
}

.product-info-container {
    display: flex;
    height: 60vh;
    width: 100%;
    flex-direction: column;
    background-color: white;
    overflow-y: scroll;

}
.product-info-container::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
.product-space-between {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    padding: 0.8rem 0;
}

.agree-button {
    display: inline-block;
    width: 57px;
    height: 28px;
    border-radius: 16px;
    border: 1px solid #000;
    background: #FFF;
    text-align: center;
    /* 수평 가운데 정렬 */
    vertical-align: middle;
    /* 수직 가운데 정렬 */
}

.disagree-button {
    display: inline-block;
    width: 57px;
    height: 28px;
    border-radius: 180px;
    border: 1px solid black;
    background: linear-gradient(45deg, #75C5A8, #6BAED6);
    text-align: center;
    /* 수평 가운데 정렬 */
    vertical-align: middle;
    /* 수직 가운데 정렬 */
}

.show-info-button {
    margin-left: 20px;
    margin-right: 1.5rem;
}

.product-summary-rate,
.product-summary-period {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
}
.product-summary-rate {
    background: linear-gradient(180deg, #FFD3B6, #A4C0F9);
}
.product-summary-period {
    background: linear-gradient(180deg, #FFA69E, #A2DED0);

}
.product-summary-infomation {
    display: flex;
    justify-content: space-evenly;
    margin: 24px 0px;
}

.product-common-info {
    margin: 0px 21px 21px;
}

.product-info-label {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    margin-left: 1.2rem;
    background: url('assets/label.png'), white 50% / cover no-repeat;
}

.join-essential-info {
    width: 80%;
    word-break: break-all;
    white-space:pre-wrap
}

.errorMessage {
    text-align: center;
    width: 100%;
    color:red;
}

.option-title {
    padding-left: 1.5rem;
    font-size: 1.1rem;
    color: #808080;
}
.option-input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 1.1rem;
}
.detail-dropdown{
    width: 90%;
}

.agreementask {
    align-items: center; /* 수직 가운데 정렬 */
  
    font-size: 5px;
    color: #808080;
}
.option-buttons {
    display: flex;
    align-items: center;
    justify-content: center; /* 수평 가운데 정렬을 위해 추가 */
  


}
.finance-detail-icon {
    font-size: 20px;
    margin: auto 10px;
}

.finance-detail-footer {
    position: absolute;
    bottom:0
}

.agreement-checkbox {
    position: relative;
    border-radius: 1px;
    cursor: pointer;

  }
.finance-inputfield {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
}
.finance-inputfield[type="number"]::-webkit-inner-spin-button,
.finance-inputfield[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* 웹킷 기본 스타일 제거 */
    appearance: none; /* 기본 스타일 제거 */
    display: none; /* 화살표 숨기기 */
}

